<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        default-activation="lazy"
        >

    <!-- 发布菜单目录 -->
    <service interface="com.daren.core.web.api.module.IMenuModule" ranking="500">
        <bean class="com.daren.example.webapp.wicket.MainMenuModule">
        </bean>
    </service>

    <!-- 发布Select2目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.example.webapp.wicket.Select2MenuItemsModule">
        </bean>
    </service>

    <!-- 发布checkedTree目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.example.webapp.wicket.CheckedTreeMenuItemsModule">
        </bean>
    </service>

    <!-- 发布SingleCheck目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.example.webapp.wicket.SingleCheckMenuItemsModule">
        </bean>
    </service>

    <!-- 发布Office目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.example.webapp.wicket.OfficeMenuItemModule">
        </bean>
    </service>
</blueprint>
