<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.chemistry.manage.webapp.wicket.ChemistryManageMenuItemsModule">
        </bean>
    </service>

    <!-- ChemistryManage start form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.chemistry.manage.webapp.wicket.ChemistryManageStartFormHandler">
        </bean>
    </service>

    <!-- ChemistryManage modify form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.chemistry.manage.webapp.wicket.ChemistryManageModifyFormHandler">
        </bean>
    </service>

    <!-- ChemistryManage audit task form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.chemistry.manage.webapp.wicket.ChemistryManageAuditTaskFormHandler">
        </bean>
    </service>
</blueprint>
