<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.chemistry.manage.webapp.wicket.impl.ChemistryManageMenuItemsModule">
        </bean>
    </service>

    <!--企业用户危险化学品子菜单定义类-->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.chemistry.manage.webapp.wicket.impl.EntChemistryManageMenuItemsModule">
        </bean>
    </service>

    <!-- ChemistryManage audit task form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.chemistry.manage.webapp.wicket.impl.ChemistryManageAuditTaskFormHandler">
        </bean>
    </service>

    <!-- ChemistryManage End task form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.chemistry.manage.webapp.wicket.impl.ChemistryManageEndFormHandler">
        </bean>
    </service>

    <!-- ChemistryManage Modify task form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.chemistry.manage.webapp.wicket.impl.ChemistryManageModifyFormHandler">
        </bean>
    </service>

    <!-- ChemistryManage 业务数据 -->
    <service interface="com.daren.core.web.api.workflow.IBizDataHandler">
        <bean class="com.daren.chemistry.manage.webapp.wicket.impl.ChemistryManageBizDataHandler">
        </bean>
    </service>
</blueprint>
