<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        default-activation="lazy"
        >

    <!-- 发布安全生产许可证(非煤矿矿山企业)子菜单目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.production.webapp.wicket.ProductionMenuItemsModule">
        </bean>
    </service>

    <!-- 发布企业用户安全生产许可证(非煤矿矿山企业)子菜单目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.production.webapp.wicket.EntProductionMenuItemsModule">
        </bean>
    </service>

    <!-- Production Audit form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.production.webapp.wicket.impl.ProductionAuditFormHandler">
        </bean>
    </service>

    <!-- Production Audit form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.production.webapp.wicket.impl.ProductionEndFormHandler">
        </bean>
    </service>

    <!-- Production Modify form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.production.webapp.wicket.impl.ProductionModifyFormHandler">
        </bean>
    </service>

    <!-- Production Biz 业务数据 -->
    <service interface="com.daren.core.web.api.workflow.IBizDataHandler">
        <bean class="com.daren.production.webapp.wicket.impl.ProductionBizDataHandler">
        </bean>
    </service>
</blueprint>
