<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Styles/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../Styles/admin-all.css"/>
    <script type="text/javascript" src="../Scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../Scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../Styles/ui-lightness/jquery-ui-1.8.22.custom.css"/>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0">
    <tr class="tr_pagenumber">
        <td colspan="100">
            <wicket:panel>
                5 Page/All<a wicket:id="totallink" href="#"><span wicket:id="totalcount">0</span></a>Page&nbsp;&nbsp;All<span
                    wicket:id="total">0</span> Rows&nbsp;&nbsp;<a href="#" wicket:id="first"
                                                                  class="badge badge-inverse">First Page</a>&nbsp;
                <a href="#" wicket:id="next" class="badge badge-inverse">Next Page</a>&nbsp;
            <span wicket:id="navigation">&nbsp;<a href="#" wicket:id="pageLink" class="badge badge-inverse"><span
                    wicket:id="pageNumber">0</span></a>&nbsp; </span>
                <a href="#" wicket:id="prev" class="badge badge-inverse">Previous Page</a>&nbsp;
                <a href="#" wicket:id="last" class="badge badge-inverse">Last Page</a>
            </wicket:panel>
        </td>
    </tr>
</table>
</body>
</html>