/***
Login page
***/

/* logo page */
.login {
    background-color: #02346e !important;
    background-image: url(../image/login_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.login .logo {
    width: 608px;
    margin-top: 0px;
    text-align: center;
    height: 343px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.login .content {
    width: 300px;
    margin-bottom: 0px;
    background-image: url(../image/login_txt_bg.png);
    height: 398px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-left: 308px;
    background-repeat: no-repeat;
}

.login .content h3 {
    color: #000;
    font-family: \5FAE\8F6F\96C5\9ED1;
}

.login .content h4 {
    color: #555;
}

.login .content p {
    color: #222;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .m-wrap {
    width: 160px;
    border-left: 0 !important;
    background-color: #FFF;
}

.login .content .input-icon {
    border-left: 2px solid #045ab1 !important;
}

.login .content .control-group {
    margin-top: 10px !important;
}

.login .content .input-icon .m-wrap {
    margin: 0px !important;
}

.login .content .forget-form {
    display: none;
}

.login .content .register-form {
    display: none;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .content .form-actions {
    clear: both;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
    display: inline-block;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content .forget-password {
    margin-top: 25px;
}

.login .content .create-account {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

.login .copyright {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    color: #999;
    font-size: 11px;
}

@media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top: 10px;
    }

    .login .content {
        padding: 30px;
        width: 222px;
    }

    .login .content h3 {
        font-size: 22px;

    }

    .login .content .m-wrap {
        width: 180px;
        background-color: #FFF;
    }

    .login .checkbox {
        font-size: 13px;
    }
}