/* CSS Document */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote, div, dd, dl, dt, ol, ul, span {
    margin: 0;
    padding: 0;
}

html {
    height: 100%
}

img, fieldset {
    border: 0;
}

ol, li, ul {
    list-style: none;
}

q:before, q:after {
    content: '';
}