<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">


    <!-- demo start form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.government.webapp.wicket.DemoStartFormHandler">
        </bean>
    </service>

    <!-- 发布菜单目录 -->
    <service interface="com.daren.core.web.api.module.IMenuModule" ranking="500">
        <bean class="com.daren.government.webapp.wicket.MainMenuModule">
        </bean>
    </service>

    <!-- 发布代办事项目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.government.webapp.wicket.TaskListMenuItemsModule">
        </bean>
    </service>

    <!-- 发布新建流程目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.government.webapp.wicket.ProcessListMenuItemsModule">
        </bean>
    </service>

    <!-- 发布流程历史目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.government.webapp.wicket.HistoryMenuItemsModule">
        </bean>
    </service>
</blueprint>
