<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">


    <!-- demo start form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.workflow.webapp.wicket.DemoStartFormHandler">
        </bean>
    </service>

    <!-- demo review form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.workflow.webapp.wicket.DemoTaskFormHandler">
        </bean>
    </service>

    <!-- 发布主菜单-->
    <service interface="com.daren.core.web.api.module.IMenuModule">
        <bean class="com.daren.workflow.webapp.wicket.MainMenuModule">
        </bean>
    </service>

    <!-- 发布代办事项子菜单 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule">
        <bean class="com.daren.workflow.webapp.wicket.TaskListMenuItemsModule">
        </bean>
    </service>

    <!-- 发布新建流程子菜单 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule">
        <bean class="com.daren.workflow.webapp.wicket.ProcessListMenuItemsModule">
        </bean>
    </service>

    <!-- 发布流程历史子菜单 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule">
        <bean class="com.daren.workflow.webapp.wicket.HistoryMenuItemsModule">
        </bean>
    </service>

    <!-- 发布我的申请子菜单 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule">
        <bean class="com.daren.workflow.webapp.wicket.MyApplyMenuItemsModule">
        </bean>
    </service>
</blueprint>
