<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <a wicket:id="first" class="badge badge-inverse" title="首页">首页</a>
    <a wicket:id="prev" class="badge badge-inverse" title="上一页">上一页</a>
	<span wicket:id="navigation">
		<a wicket:id="pageLink" class="badge badge-warning" href="#"><span wicket:id="pageNumber">5</span></a>
	</span>
    <a wicket:id="next" class="badge badge-inverse">下一页</a>
    <a wicket:id="last" class="badge badge-inverse">尾页</a>
</wicket:panel>
</body>
</html>