<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        default-activation="lazy"
        >

    <service interface="org.ops4j.pax.wicket.api.WebApplicationFactory" >
        <service-properties>
            <entry key="pax.wicket.applicationname" value="blueprint.filter.default" />
            <entry key="pax.wicket.mountpoint" value="/" />
        </service-properties>
        <bean class="org.ops4j.pax.wicket.api.support.SimpleWebApplicationFactory" >
            <property name="wicketApplication" value="org.wicketstuff.push.examples.ExampleApplication" />
        </bean>
    </service>

    <!--<service interface="org.ops4j.pax.wicket.api.FilterFactory">
        <service-properties>
            <entry key="pax.wicket.applicationname" value="blueprint.filter.default" />
        </service-properties>
        <bean class="org.ops4j.pax.wicket.samples.blueprint.filter.internal.SampleFilterFactory" />
    </service>-->
    <service interface="javax.servlet.http.HttpServlet" ref="cometdServlet">
        <service-properties>
            <entry key="alias" value="/cometd"/>
            <entry key="init.timeout" value="15000"/>
            <entry key="init.multi-timeout" value="1500"/>
            <entry key="init.verbose" value="false"/>
            <entry key="init.transports" value="org.cometd.websocket.server.WebSocketTransport"/>
        </service-properties>
    </service>
    <!--<bean id="cometdServlet" class="org.cometd.server.CometdServlet"/>-->
    <bean id="cometdServlet" class="org.cometd.server.CometdServlet"/>

    <!--<service interface="org.cometd.bayeux.server.BayeuxServer">
        <bean class="org.cometd.server.BayeuxServerImpl"/>
    </service>-->
</blueprint>
