<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">

    <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>

    <bean id="shiroRealm" class="com.daren.core.web.bootup.wicket.shiro.ShiroRealm"/>

    <bean id="webSecurityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"
          destroy-method="destroy">
        <property name="realm" ref="shiroRealm"/>
        <property name="cacheManager" ref="shiroCacheManager"/>
        <!-- <property name="sessionMode" value="native"/>
         <property name="sessionManager" ref="sessionManager"/>-->
    </bean>

    <!--<bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
        <property name="interval" value="1800000"/>
    </bean>-->

    <!--<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="3600000"/>
        &lt;!&ndash;<property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>&ndash;&gt;
    </bean>-->

    <!-- 用户授权信息Cache, 采用EhCache -->
    <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <!--<property name="cacheManager" ref="cacheManager"/>-->
        <property name="cacheManagerConfigFile" value="$[karaf.base]/etc/ehcache.xml"/>
    </bean>

    <service interface="org.ops4j.pax.wicket.api.WebApplicationFactory">
        <service-properties>
            <entry key="pax.wicket.applicationname" value="blueprint.simple.default"/>
            <entry key="pax.wicket.mountpoint" value="/"/>
        </service-properties>
        <bean class="com.daren.core.web.bootup.wicket.filter.ShiroWebApplicationFactory">
            <property name="wicketApplication"
                      value="com.daren.core.web.bootup.wicket.IrisShiroApplication"/>
        </bean>
    </service>

    <service interface="org.ops4j.pax.wicket.api.FilterFactory">
        <service-properties>
            <entry key="pax.wicket.applicationname" value="blueprint.simple.default"/>
            <entry key="pax.wicket.filter.priority" value="2"/>
        </service-properties>
        <bean class="com.daren.core.web.bootup.wicket.filter.ShiroFilterFactory">
            <property name="webSecurityManager" ref="webSecurityManager"/>
        </bean>
    </service>


    <service interface="org.ops4j.pax.wicket.api.FilterFactory">
        <service-properties>
            <entry key="pax.wicket.applicationname" value="blueprint.simple.default"/>
            <entry key="pax.wicket.filter.priority" value="2"/>
        </service-properties>
        <bean class="com.daren.core.web.bootup.wicket.filter.DelegatingFilterFactory"/>

    </service>
</blueprint>
