<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        default-activation="lazy"
        >
    <!-- 发布菜单目录 -->
    <service interface="com.daren.core.web.api.module.IMenuModule" ranking="500">
        <bean class="com.daren.expert.webapp.wicket.MainMenuModule">
        </bean>
    </service>

    <!-- 发布企业用户菜单目录 -->
    <service interface="com.daren.core.web.api.module.IMenuModule" ranking="500">
        <bean class="com.daren.expert.webapp.wicket.EntMainMenuModule">
        </bean>
    </service>

    <!-- 发布菜单目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.expert.webapp.wicket.SafetySupervisionExpertMenuItemsModule">
        </bean>
    </service>
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.expert.webapp.wicket.EnterpriseExpertMenuItemsModule">
        </bean>
    </service>
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.expert.webapp.wicket.EntEnterpriseExpertMenuItemsModule">
        </bean>
    </service>
</blueprint>
