<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        default-activation="lazy"
        >

    <!-- 发布安全资格证书(培训)目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.competency.webapp.wicket.CompetencyMenuItemsModule">
        </bean>
    </service>

    <!-- 发布企业用户安全资格证书(培训)目录 -->
    <service interface="com.daren.core.web.api.module.IMenuItemsModule" ranking="500">
        <bean class="com.daren.competency.webapp.wicket.EntCompetencyMenuItemsModule">
        </bean>
    </service>

    <!-- Competency Audit form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.competency.webapp.wicket.impl.CompetencyAuditFormHandler">
        </bean>
    </service>

    <!-- Competency End form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.competency.webapp.wicket.impl.CompetencyEndFormHandler">
        </bean>
    </service>

    <!-- Competency Modify form -->
    <service interface="com.daren.core.web.api.workflow.IFormHandler">
        <bean class="com.daren.competency.webapp.wicket.impl.CompetencyModifyFormHandler">
        </bean>
    </service>

    <!-- Competency Biz 业务数据 -->
    <service interface="com.daren.core.web.api.workflow.IBizDataHandler">
        <bean class="com.daren.competency.webapp.wicket.impl.CompetencyBizDataHandler">
        </bean>
    </service>
</blueprint>
